.content-wrapper{
    padding-top: 40px;
}

.wrapper,
.turn{
    display: none;
}

.btn{
    margin: 0 5px;
    padding: 5px 30px;
}

.btn,
.btn:active,
.btn:focus,
.btn:visited{
    outline: none;
}

.btn-restart{
    margin-left: 30px;
}

.wrapper.active,
.turn.active{
    display: block;
}

.btn-restart{
    display: inline-block;
}

.turn{
    margin-bottom: 40px;
}

.text-center{
    text-align: center;
}

.margin-top{
    margin-top: 40px;
}

.margin-bottom{
    margin-bottom: 20px;
}

.no-margin{
    margin: 0;
    margin-top: 30px;
}

.description{
    padding-left: 20px;
}

.js-log{
    text-align: center;
}

.js-log div{
    position: relative;
    font-weight: bold;
}

.js-log div.active::before{
    position: absolute;
    left: -10px;
    top: 5px;
    width: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #f0ad4e;
    content: "";
    -webkit-animation: float 1.5s ease infinite;
    animation: float 1.5s ease infinite;
}

@-webkit-keyframes float{

    0%{
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50%{
        -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    100%{
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

@keyframes float{

    0%{
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50%{
        -webkit-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        transform: translateX(-15px);
    }

    100%{
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

.coin{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.coin.active{
    -webkit-animation: flip 1s ease;
    animation: flip 1s ease;
}

@-webkit-keyframes flip{

    0%{
        -webkit-transform: translateY(0) rotate(0);
        -ms-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

    50%{
        -webkit-transform: translateY(-200px) rotateX(1200deg);
        -ms-transform: translateY(-200px) rotateX(1200deg);
        transform: translateY(-200px) rotateX(1200deg);
    }

    100%{
        -webkit-transform: translateY(-120px) rotateX(1800deg);
        -ms-transform: translateY(-120px) rotateX(1800deg);
        transform: translateY(-120px) rotateX(1800deg);
        opacity: 0;
    }
}

@keyframes flip{

    0%{
        -webkit-transform: translateY(0) rotateX(0);
        -ms-transform: translateY(0) rotateX(0);
        transform: translateY(0) rotateX(0);
        opacity: 1;
    }

    50%{
        -webkit-transform: translateY(-200px) rotateX(1200deg);
        -ms-transform: translateY(-200px) rotateX(1200deg);
        transform: translateY(-200px) rotateX(1200deg);
    }

    100%{
        -webkit-transform: translateY(-120px) rotateX(1800deg);
        -ms-transform: translateY(-120px) rotateX(1800deg);
        transform: translateY(-120px) rotateX(1800deg);
        opacity: 0;
    }
}

.coin-front,
.coin-back{
    position: absolute;
    max-width: 100%;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.coin-back{
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@media screen and (min-width: 768px){
    .content-wrapper{
        padding-top: 0;
    }

    .js-log{
        text-align: left;
    }
}